* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #F55A5A;
  text-align: center;
  /* color: #F5F7FB; */
  color: #F5F5F5;
  padding: 20px 0;
}

section {
  width: 900px;
  margin: 0 auto;
}

.card{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.card-info {
  padding-top: 15px;
}

.card-img {
  width: 145px;
  height: 188px;
}

.card-loc {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.loc-text {
  letter-spacing: 1.6px;
}

.google-map-text {
  font-size: 12px;
  color: #918E9B;
}

.card-title {
  margin-bottom: 20px;

}

.card-date-text {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-desc {
  width: 560px;
}